@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
//Mini reset
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//basics
html {
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
    box-sizing: content-box;
    background-color: map-get($map: $colors, $key: "background");
}

body {
    width: 100%;
}

img {
    width: 100%;
    height: auto;
}

.wrap {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
    background-color: map-get($map: $colors, $key: 'main');
}

h1 {
    font-size: nth($list: $font-size, $n: 1);
}

h2 {
    font-size: nth($list: $font-size, $n: 2);
}

h3 {
    font-size: nth($list: $font-size, $n: 3);
}

h4 {
    font-size: nth($list: $font-size, $n: 4);
}

h1,
h2,
h3,
h4,
p {
    color: map-get($map: $colors, $key: 'txt1');
}

strong {
    color: map-get($map: $colors, $key: 'main4');
    a {
        color: map-get($map: $colors, $key: 'main4');
    }
}

//Media Query for large PC
@media screen and (min-width: 1200px) {
    .wrap {
        max-width: 1140px;
    }
}