footer {
    background-color: rgb(192, 223, 83);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    vertical-align: middle;
    background-color: map-get($map: $colors, $key: "background");
    text-align: center;
    a {
        text-decoration: none;
        color: map-get($map: $colors, $key: "txt1");
    }
    a:hover {
        color: map-get($map: $colors, $key: "hover");
    }
}