header {
    overflow: hidden;
    background-color: map-get($map: $colors, $key: 'background-menu');
    padding: 10px 10px;
    position: fixed;
    z-index: 9999;
    top: 0;
    width: 100%;
    a {
        float: left;
        color: map-get($map: $colors, $key: 'txt1');
        text-align: center;
        padding: 10px;
        text-decoration: none;
        font-size: 20px;
        line-height: 25px;
        margin-right: 10px;
    }
    a:hover {
        background-color: map-get($map: $colors, $key: 'hover');
        color: map-get($map: $colors, $key: 'txt1');
    }
    .logo {
        font-size: 20px;
        font-weight: bold;
    }
    .logo-img {
        max-width: 50px;
        text-align: center;
        filter: invert(1);
    }
    .active {
        background-color: map-get($map: $colors, $key: 'is-active');
        color: map-get($map: $colors, $key: 'txt2');
    }
}

@media screen and (max-width:500px) {
    header a {
        float: none;
        display: block;
        text-align: left;
    }
}